In [ ]:
#importing the dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#loading, processing
heart_data = pd.read_csv('/content/heart_cleveland_upload.csv')

In [ ]:
heart_data.head

<bound method NDFrame.head of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     69    1   0       160   234    1        2      131      0      0.1
1     69    0   0       140   239    0        0      151      0      1.8
2     66    0   0       150   226    0        0      114      0      2.6
3     65    1   0       138   282    1        2      174      0      1.4
4     64    1   0       110   211    0        2      144      1      1.8
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
292   40    1   3       152   223    0        0      181      0      0.0
293   39    1   3       118   219    0        0      140      0      1.2
294   35    1   3       120   198    0        0      130      1      1.6
295   35    0   3       138   183    0        0      182      0      1.4
296   35    1   3       126   282    0        2      156      1      0.0

     slope  ca  thal  condition
0        1   1     0          0
1        0   2     0          0
2        2   0     0          0
3        1   1     0          1
4        1   0     0          0
..     ...  ..   ...        ...
292      0   0     2          1
293      1   0     2          1
294      1   0     2          1
295      0   0     0          0
296      0   0     2          1

[297 rows x 14 columns]>

In [ ]:
#columns and rows
heart_data.shape

(297, 14)

In [ ]:
#getting some info
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   sex        297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [ ]:
heart_data.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [ ]:
#stat_measure
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,2.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,0.602694,0.676768,0.835017,0.461279
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,0.956690,0.499340
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,2.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,2.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,0.000000,0.000000
75%,61.000000,1.000000,3.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,1.000000,1.000000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,3.000000,2.000000,1.000000

In [ ]:
#condition distrubiton
heart_data['condition'].value_counts()

0    160
1    137
Name: condition, dtype: int64

In [ ]:
#1 defective, 0 healthy
#split x,y
X = heart_data.drop(columns = 'condition', axis= 1)
Y =  heart_data['condition']

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     69    1   0       160   234    1        2      131      0      0.1
1     69    0   0       140   239    0        0      151      0      1.8
2     66    0   0       150   226    0        0      114      0      2.6
3     65    1   0       138   282    1        2      174      0      1.4
4     64    1   0       110   211    0        2      144      1      1.8
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
292   40    1   3       152   223    0        0      181      0      0.0
293   39    1   3       118   219    0        0      140      0      1.2
294   35    1   3       120   198    0        0      130      1      1.6
295   35    0   3       138   183    0        0      182      0      1.4
296   35    1   3       126   282    0        2      156      1      0.0

     slope  ca  thal
0        1   1     0
1        0   2     0
2        2   0     0
3        1   1     0
4        1   0     0
..     ...  ..   ...
292      0   0     2
293      1   0     2
294      1   0     2
295      0   0     0
296      0   0     2

[297 rows x 13 columns]

In [ ]:
print(Y)

0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

In [ ]:
#split train and tes
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size =0.2, stratify=Y,random_state=2)

In [ ]:
 print(X.shape, X_train.shape, X_test.shape)

(297, 13) (237, 13) (60, 13)

In [ ]:
#model train
#LR
model = LogisticRegression()

In [ ]:
#trainin LR
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#model evaluate
X_train_prediction= model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score:', training_data_accuracy)

Accuracy score: 0.8565400843881856

In [ ]:
X_test_prediction= model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score:', test_data_accuracy)

Accuracy score: 0.9

In [ ]:
#
input_data =(38,1,0,120,231,0,0,182,1,3.8,1,0,2)
#change to numpy array
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)

[0]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [ ]:
if (prediction[0]==0):
  print('the person has Heart Disease')
else:
  print('The person does not have Heart Disease')

the person has Heart Disease